#root {
  margin: 0 auto;
  text-align: center;
  
}

body {
  background-color: #3e494c;
  margin: 0;
  padding: 0;
}

.container {
  max-height: 70vh;
  width: 30rem;
  margin: 0 auto;
  border: 1rem solid #ffffff;
  border-radius: 20%;
}

.main-title {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.coin-container {
  margin: 2rem auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}


.result-container {
  margin-top: 2rem;
  color: #ffffff;
}


.coin.move-updown {
  animation: moveUpDown 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  20% {
    transform: translateY(-60px) rotateX(360deg);
  }
  50% {
    transform: translateY(-120px) rotateX(900deg);
  }
  80% {
    transform: translateY(-60px) rotateX(1440deg);
  }
  100% {
    transform: translateY(0) rotateX(1800deg);
  }
}